.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 2em;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    font-family: sans-serif;
  }
  
  .NavLink {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    margin: 0 0.5em;
    transition: color 0.3s ease;
  }
  
  .NavLink:hover {
    color: #007bff;
  }

  .cartCount{
    color: red;
    font-weight: 900;
  }
  
  
  @media (max-width: 750px) {
    .Navbar {
      flex-direction: column;
      justify-content: center;
      gap: 1em;
    }
  
    .NavLink {
      font-size: 1.2rem;
    }
  }